<main class="launch-page">
    <div class="main-content-wrapper">
        <div class="d-flex justify-content-center mx-auto py-5 mb-3 col-10 col-sm-8 col-md-6 col-lg-auto">
            <figure class="figure">
                <img class="img-fluid" src="images/SpottedLogo.svg" alt="">
                <figcaption class="figure-caption text-end text-white-50 me-1">
                    Not affiliated with Spotify Technology S.A.
                </figcaption>
            </figure>
        </div>
        <div class="d-flex mx-auto mx-lg-auto flex-column justify-content-stretch">
            <div class="row">
                <div class="col-6 mx-auto">
                    <h1>Test</h1>
                </div>
                <div class="col-6 pe-4">
                    <h4>your knowledge by guessing the right artist.</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-6 mx-auto">
                    <h1>Compete</h1>
                </div>
                <div class="col-6 pe-4">
                    <h4>with others to prove who's the best.</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h1>Discover</h1>
                </div>
                <div class="col-6 pe-4">
                    <h4>new artists to add to your collection.</h4>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center pb-5 mt-auto">
            <a href="game" class="text-center text-decoration-none">
                <img class="mb-3" src="images/playButton.svg" alt="Link button to start a new game">
                <h4>Play a New Round</h4>
            </a>
        </div>
    </div>
</main>