<include href="views/navbar.html"></include>
<include href="views/victoryModal.html"></include>
<script>
    window.addEventListener('load', () => {
        const modal = new bootstrap.Modal(document.getElementById('artistModal'), {
            keyboard: false
        });
        modal.toggle();
    });
</script>
<div class="container text-center mt-4">
    <h1>You are out of guesses. Maybe next time?</h1>
    <table class="table table-striped table-dark my-5">
        <thead class="thead">
        <tr>
            <th>User ID</th>
            <th>User Name</th>
            <th>User Score</th>
        </tr>
        </thead>
        <tbody>
        <repeat group="{{ @leaderboard }}" value="{{ @user }}">
            <tr>
                <td>{{ @user.user_id }}</td>
                <td>{{ @user.name }}</td>
                <td>{{ @user.score }}</td>
            </tr>
        </repeat>
        </tbody>
    </table>
    <a href="game">
        <button type="button" class="btn btn-primary">New Round</button>
    </a>
</div>
