<include href="views/navbar.html"></include>
<div class="container text-center">
    <h1 class="my-2">I'm thinking of an artist. A pretty popular one.</h1>
    <h2 class="my-2">Guesses: {{ @SESSION.guessCount }}/10</h2>


    <form autocomplete="off" action="#" method="post">
        <label for="guess">Your Guess:</label>
        <input type="text" id="guess" name="guess" placeholder="Taylor Swift" onKeyUp="showResults(this.value)">
        <button type="submit" class="btn btn-primary">GUESS</button>
        <div id="result"></div>
    </form>

    <div>
        <ul class="text-start">
        <repeat group="{{ @SESSION.hints }}" value="{{ @hint }}">
            <li> {{ @hint }}</li>
        </repeat>
        </ul>
    </div>
    <br>

    <repeat group="{{ @SESSION.artistArrays }}" value="{{ @artistArr }}">
        <repeat group="{{ @artistArr }}" key="{{ @key }}" value="{{ @val }}">
            <check if="{{ @key == 'Genres' }}">
                <true> <strong>{{ @key }}:</strong> {{ implode(',', @val) }}</true>
                <false><strong>{{ @key }}:</strong> {{ @val }}</false>
            </check>
        </repeat>
        <br>
    </repeat>


    <!-- DEBUG FOR DEVELOPER USE PLEASE REMOVE -->
    <!--TODO: REMOVE THIS WHEN THE GAME IS FINISHED-->
    <div class="container text-center my-5" style="border: 2px solid black">
        FOR DEVELOPMENT USE ONLY!
        <br>
        Hidden Artist: {{ @SESSION.hiddenArtist }}
        <br>
        Popularity: {{ @SESSION.hiddenPopularity }}
        <br>
        Genres:
        <repeat group="{{ @SESSION.hiddenGenres }}" value="{{ @genre }}">
            {{ strtoupper(@genre) }}
        </repeat>
        <br>
        API Link: {{ @SESSION.hiddenLink }}
        <br>
        Arist ID: {{ @SESSION.hiddenArtistID }}
        <br>
        Top Song of Hidden Artist: {{ @SESSION.hiddenTopSong }}
        <br>
        Controller Operational!
    </div>
</div>
</body>
</html>