<include href="views/navbar.html"></include>
<div class="d-flex flex-column text-center main-content-wrapper">
    <a class="navbar-brand" href="./">
        <img class="d-inline-block align-text-top" src="images/SpottedLogo.svg" alt="Spotted Logo">
    </a>
    <h2 class="my-2">Guesses: {{ @SESSION.guessCount }}/10</h2>


    <form autocomplete="off" action="#" method="post">
        <input type="text" id="guess" name="guess" class="mt-3 mb-2 col-6"
               placeholder="Guess an artist..." onKeyUp="showResults(this.value)">
        <div id="result" class="z-3 position-absolute shadow rounded-3 col-4 col-lg-2"></div>
    </form>

    <div>
        <ul class="text-start">
        <repeat group="{{ @SESSION.hints }}" value="{{ @hint }}">
            <li> {{ @hint }}</li>
        </repeat>
        </ul>
    </div>
    <br>

    <div id="guessCardList">
        <div id="guessColumns" class="d-flex justify-content-evenly">
            <div>
                <span>Name</span>
            </div>
            <div>
                <span>Popularity</span>
            </div>
            <div>
                <span>Shared Genres</span>
            </div>
        </div>
        <repeat group="{{ @SESSION.artistArrays }}" value="{{ @artistArr }}">
            <div id="guessCard" class="d-flex align-items-center justify-content-evenly mb-5">
                <repeat group="{{ @artistArr }}" key="{{ @key }}" value="{{ @val }}">
                    <div class="shadow text-center align-content-center rounded">
                        <span class="my-auto d-inline-block">
                            <check if="{{ @key == 'Genres' }}">
                            <true>
                                <check if="{{ empty(@val) }}">
                                    <true>none</true>
                                    <false>{{ implode(', ', @val) }}</false>
                                </check>
                            </true>
                            <false>{{ @val }}</false>
                        </check>
                        </span>
                    </div>
                </repeat>
            </div>
        </repeat>
    </div>


    <!-- DEBUG FOR DEVELOPER USE PLEASE REMOVE -->
    <!--TODO: REMOVE THIS WHEN THE GAME IS FINISHED-->
    <div class="container text-center my-5" style="border: 2px solid black">
        FOR DEVELOPMENT USE ONLY!
        <br>
        Hidden Artist: {{ @SESSION.hiddenArtist }}
        <br>
        Popularity: {{ @SESSION.hiddenPopularity }}
        <br>
        Genres:
        <repeat group="{{ @SESSION.hiddenGenres }}" value="{{ @genre }}">
            {{ strtoupper(@genre) }}
        </repeat>
        <br>
        API Link: {{ @SESSION.hiddenLink }}
        <br>
        Arist ID: {{ @SESSION.hiddenArtistID }}
        <br>
        Top Song of Hidden Artist: {{ @SESSION.hiddenTopSong }}
        <br>
        Controller Operational!
    </div>
</div>
</body>
</html>