.launch-page {
    background-image: url(../images/spottedBackground.svg), var(--gradient-home-colors);
}

.launch-page > .main-content-wrapper {
    .row:not(.row:last-child) {
        margin-bottom: 4rem;
    }

    .row:last-child {
        margin-bottom: 6rem;
    }

    h1 {
        margin-left: 2rem;
    }

    h3 {
        margin-bottom: 0.3rem;
    }
}