/* Autocomplete adjusters */
#result {
    display: none;
    text-align: start;
    min-width: 300px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgb(66, 66, 66);
}
#result ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}
#result ul li {
    padding: 5px 0;
}
#result ul li:hover {
    background: rgba(255, 255, 255, 0.2) !important;
}

#result button {
    background-color: transparent;
    width: 100%;
    border: none;
}

/* Styling for the guesses */
#guessColumns > div {
    width: 100px;
    overflow-wrap: break-word;
    align-content: center;
    padding-bottom: 4px;
    border-bottom: solid #323232 2px;
    margin-bottom: 12px;

    span {
        font-weight: 300;
    }
}

#guessCard div {
    background: var(--gradient-temp-answer);
    width: 100px;
    overflow-wrap: break-word;

    /*These need to be the same*/
    height: 100px;
}