#hintScreen {
    background-color: var(--spotify-green);
    min-height: 10rem;

    #iconHint {
        background-color: var(--spotify-gray);
    }

    #textHints {
        span {
            /*color: var(--spotify-gray);*/
        }
    }

    img, .hintPlaceholder {
        height: 10rem;
        width: 10rem;
        object-fit: cover;
        border-radius: 50%;
    }
}